$containerMaxWidth: 1320px;
$darkBackgroundColor: #202020;
$lightFontColor: #fff;
$lightBackgroundColor: #fff;
$darkFontColor: #202020;
$markerBackgroundColor: #333;
$markerFontColor: #fff;
$btnFontColor: #fff;

$orange: #FF6E30;
$brightOrange: #CE4307;
$darkOrange: #BC572B;
