@charset "UTF-8";
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url("../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TTFirsNeue';
  font-display: swap;
  src: url("../fonts/ttfirsneue-regular-webfont.woff2") format("woff2"), url("../fonts/ttfirsneue-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TTFirsNeue';
  font-display: swap;
  src: url("../fonts/ttfirsneue-bold-webfont.woff2") format("woff2"), url("../fonts/ttfirsneue-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1320px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 400;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  color: #202020;
  font-weight: 400;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.js-focus-visible :focus {
  outline: 2px solid #FF6E30;
  outline-offset: 2px;
}

.burger rect,
svg path,
svg circle {
  -webkit-transition: fill .3s ease;
  transition: fill .3s ease;
}

.burger:hover rect,
svg:hover path,
svg:hover circle {
  fill: #FF6E30;
}

.input-field:focus-visible,
.input-field:active,
button:focus-visible {
  outline: none;
}

.social__link:focus,
.address-close:focus,
.burger:focus,
.search-btn:focus {
  outline: none;
}

.burger[data-focus-visible-added] rect,
.social__link[data-focus-visible-added] path,
.address-close[data-focus-visible-added] circle,
.search-btn[data-focus-visible-added] path {
  fill: #BC572B;
}

.burger:active rect,
svg:active path,
svg:active circle {
  fill: #CE4307;
}

.reset-btn {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

.burger,
.search-btn {
  display: none;
}

.header {
  position: relative;
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: #202020;
}

.header__logo {
  width: 191px;
  height: 31px;
}

.header a {
  font-family: 'TTFirsNeue', sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.5fr 8.5fr 1fr;
      grid-template-columns: 2.5fr 8.5fr 1fr;
  -ms-grid-rows: (31px)[1];
      grid-template-rows: repeat(1, 31px);
  gap: 0 40px;
}

.nav {
  z-index: 5;
}

.nav-wrapper {
  display: contents;
}

.nav-list {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: column;
  gap: 0 10px;
}

.nav-list__item {
  text-align: center;
  line-height: 1;
}

.nav-list__item:first-child, .nav-list__item:last-child {
  display: none;
}

.nav-link {
  padding-left: 3px;
  padding-right: 3px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.nav-link:hover {
  color: #FF6E30;
}

.nav-link:focus {
  outline: none;
}

.nav-link[data-focus-visible-added] {
  background-color: #BC572B;
}

.nav-link:active {
  color: #CE4307;
}

.social {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (30px)[3];
      grid-template-columns: repeat(3, 30px);
  -ms-grid-rows: (30px)[1];
      grid-template-rows: repeat(1, 30px);
  grid-auto-flow: column;
  gap: 0 20px;
  z-index: 5;
}

.social__link {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.search-form {
  padding-right: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 88%;
  left: 51%;
  width: 46%;
  height: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #202020;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.search-form__input {
  padding-left: 0;
  width: 93%;
  border: none;
  background: transparent;
  border-bottom: 1px solid white;
  font-family: 'TTFirsNeue', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #E9E9E9;
  line-height: 1;
  -webkit-transition: border-color .3s ease;
  transition: border-color .3s ease;
}

.search-form__input::-webkit-input-placeholder {
  color: #E9E9E9;
}

.search-form__input:-ms-input-placeholder {
  color: #E9E9E9;
}

.search-form__input::-ms-input-placeholder {
  color: #E9E9E9;
}

.search-form__input::placeholder {
  color: #E9E9E9;
}

.search-form__input:hover {
  outline: none;
  border-color: #FF6E30;
}

.search-form__input:focus {
  outline: none;
  border-color: #FF6E30;
}

.search-form__input:active {
  outline: none;
  border-color: #CE4307;
}

.search-form__close {
  width: 23px;
  height: 23px;
}

.search-form__close:focus {
  outline: none;
}

.search-form__close circle {
  fill: #FF6E30;
}

.is-active-form {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.master-classes {
  padding-top: 34px;
  padding-bottom: 68px;
}

.master-classes__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (6fr)[2];
      grid-template-columns: repeat(2, 6fr);
  gap: 30px;
}

.mc-hero {
  padding-top: 7px;
}

.mc-hero__content {
  padding-top: 405px;
  padding-bottom: 60px;
  padding-left: 60px;
  height: 100%;
  color: #fff;
  position: relative;
  background-image: url(../img/foto1.jpg);
  background-color: #202020;
  background-repeat: no-repeat;
  background-size: cover;
}

.mc-hero__content::after {
  content: attr(data-text);
  display: block;
  padding: 7px 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.mc-hero__description {
  margin-bottom: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.mc-hero__heading, .mc-hero__date {
  font-family: 'TTFirsNeue', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 104%;
}

.mc-hero__date {
  margin-bottom: 19px;
}

.btn {
  display: inline-block;
  padding: 14px 19px;
  background-color: #FF6E30;
  font-family: 'Roboto', sans-serif;
  border: 3px solid #FF6E30;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  -webkit-transition-property: border-color, background-color;
  transition-property: border-color, background-color;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.btn:hover {
  border-color: #BC572B;
  background-color: #BC572B;
}

.btn:active {
  border-color: #CE4307;
  background-color: #CE4307;
}

.btn:focus {
  outline: none;
  border-color: #CE4307;
}

.section-heading {
  font-family: 'TTFirsNeue', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #202020;
}

.mc-works {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (6fr)[2];
      grid-template-columns: repeat(2, 6fr);
  -ms-grid-rows: 300px 257px;
      grid-template-rows: 300px 257px;
  gap: 30px;
}

.mc-works__heading {
  margin-bottom: 26px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  line-height: 1;
}

.mc-works__work--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.about {
  padding-top: 33px;
  padding-bottom: 71px;
  background-color: #202020;
  color: #fff;
}

.about__heading {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  color: #fff;
}

.about__description {
  padding-top: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #CACACA;
}

.about__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 6fr;
      grid-template-columns: 6fr 6fr;
  gap: 6px 30px;
}

.subs-to-newsletter__img {
  margin-bottom: 19px;
  height: 70%;
}

.input-field {
  margin: 0;
  padding-left: 23px;
  width: 100%;
  height: 50px;
  background-color: #E9E9E9;
  border: none;
  color: #999;
  line-height: 1;
}

.subs-form {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header" "input btn";
  -ms-grid-columns: 5fr 1fr;
      grid-template-columns: 5fr 1fr;
  -ms-grid-rows: 22px 50px;
      grid-template-rows: 22px 50px;
  gap: 16px 0;
  width: 100%;
}

.subs-form__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  font-family: 'TTFirsNeue', sans-serif;
  font-size: 24px;
  line-height: 22px;
}

.subs-form__input {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: input;
  width: 94%;
  background-color: #4A4A4A;
}

.subs-form__input:hover, .subs-form__input:hover::-webkit-input-placeholder {
  color: #FF6E30;
}

.subs-form__input:hover, .subs-form__input:hover:-ms-input-placeholder {
  color: #FF6E30;
}

.subs-form__input:hover, .subs-form__input:hover::-ms-input-placeholder {
  color: #FF6E30;
}

.subs-form__input:hover, .subs-form__input:hover::placeholder {
  color: #FF6E30;
}

.subs-form__input:active {
  color: #fff;
}

.subs-form__input:focus {
  outline: none;
  border: 1px solid #FF6E30;
  color: #fff;
}

.subs-form__btn {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: btn;
  max-width: 126px;
}

.projects {
  padding-top: 71px;
  padding-bottom: 30px;
}

.projects__heading {
  margin-bottom: 15px;
}

.projects-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 30px;
}

.projects-grid__item {
  position: relative;
  height: 300px;
  max-height: 300px;
  width: 100%;
  height: 100%;
}

.projects-grid__item::after {
  content: attr(data-text);
  display: block;
  padding: 7px 15px;
  position: absolute;
  top: 7px;
  right: 7px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.project-small {
  grid-column: span 2;
}

.project-small img {
  height: 62%;
}

.project-small-big {
  grid-column: span 2;
}

.project-big {
  grid-column: span 6;
  position: relative;
}

.project-medium {
  grid-column: span 3;
}

.project-medium img {
  height: 62%;
}

.project-content {
  padding-top: 12px;
}

.project-content__description {
  display: inline-block;
  margin-bottom: 15px;
  height: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #202020;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* количество строк */
  -webkit-box-orient: vertical;
}

.project-content__time {
  padding-left: 18px;
  background-image: url(../img/calendar.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px 13px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 22px;
  color: #999999;
}

.project-content-big {
  padding: 0;
  position: absolute;
  top: 22px;
  left: 29px;
  width: 46.5%;
}

.project-content-big__time {
  margin-bottom: 2px;
  display: block;
  background-image: url(../img/calendar-white.svg);
  color: #fff;
}

.project-content-big__header {
  margin-bottom: 6px;
  font-family: 'TTFirsNeue', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
}

.project-content-big__description {
  color: #fff;
}

.project-content-big__btn {
  display: inline-block;
  padding: 14px 19px;
  background-color: #FF6E30;
  font-family: 'Roboto', sans-serif;
  border: 3px solid #FF6E30;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  -webkit-transition-property: border-color, background-color;
  transition-property: border-color, background-color;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  position: absolute;
  left: 30px;
  bottom: 30px;
  padding: 14px 20px;
  background-color: transparent;
}

.btn-secondary:hover {
  background-color: #FF6E30;
}

.btn-secondary:active {
  border-color: #CE4307;
  background-color: #CE4307;
}

.btn-secondary:focus {
  outline: none;
  background-color: #BC572B;
}

.contacts {
  padding-top: 43px;
  padding-bottom: 69px;
}

.contacts__heading {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: heading;
  grid-column: 1 / span 2;
}

.contacts__left-content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: map;
  position: relative;
  padding-top: 7px;
  overflow: hidden;
}

.contacts__right-content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: form;
}

.address {
  padding-top: 174px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  top: 7px;
  z-index: 2;
  bottom: 0;
  background-color: rgba(32, 32, 32, 0.85);
  width: 48%;
  color: #fff;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  -webkit-transform: translateX(-96%);
          transform: translateX(-96%);
}

.address.is-active {
  -webkit-transform: none;
          transform: none;
}

.address-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.address-info {
  width: 72%;
  height: 35%;
}

.address-info__name {
  margin-bottom: 5px;
  font-family: 'TTFirsNeue', sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 22px;
  color: #fff;
}

.address-info__addr {
  margin-bottom: 3px;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  color: #CACACA;
}

.address-info__phone {
  padding-left: 20px;
  background-image: url(../img/phone.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 16px;
  font-family: 'TTFirsNeue', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

[class*="ground-pane"] {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.contacts__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8.1fr 3.9fr;
      grid-template-columns: 8.1fr 3.9fr;
  -ms-grid-rows: 31px 467px;
      grid-template-rows: 31px 467px;
      grid-template-areas: "heading heading" "map form";
  gap: 12px 30px;
}

.just-validate-tooltip-container {
  position: relative;
}

.js-validate-error-label {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  line-height: 1px;
  z-index: 10;
  top: 7px;
  left: 23px;
}

.back-call-form {
  width: 100%;
  display: -ms-grid;
  display: grid;
}

.back-call-form__heading {
  margin-bottom: 5px;
  font-family: 'TTFirsNeue', sans-serif;
  font-size: 24px;
  line-height: 22px;
  color: #202020;
}

.back-call-form__description {
  margin-bottom: 14px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #999999;
}

.back-call-form__btn {
  max-width: 30%;
  min-width: 126px;
}

.back-call-form__input {
  margin-bottom: 20px;
}

.back-call-form__input:hover, .back-call-form__input:hover::-webkit-input-placeholder {
  color: #FF6E30;
}

.back-call-form__input:hover, .back-call-form__input:hover:-ms-input-placeholder {
  color: #FF6E30;
}

.back-call-form__input:hover, .back-call-form__input:hover::-ms-input-placeholder {
  color: #FF6E30;
}

.back-call-form__input:hover, .back-call-form__input:hover::placeholder {
  color: #FF6E30;
}

.back-call-form__input:active {
  color: #202020;
}

.back-call-form__input:focus {
  outline: none;
  border: 1px solid #FF6E30;
  color: #202020;
}

.back-call-form__textarea {
  padding-top: 10px;
  padding-right: 23px;
  height: 150px;
  font-size: 16px;
  line-height: 32px;
  resize: none;
}

.footer {
  padding-top: 23px;
  padding-bottom: 16px;
  background-color: #202020;
  color: #fff;
}

.footer__center-content {
  padding-left: 10%;
}

.footer__right-content {
  -ms-grid-column-align: end;
      justify-self: end;
}

.footer__logo {
  padding-top: 3px;
  margin-bottom: 5px;
  display: block;
  width: 193px;
  height: 34px;
}

.footer__description {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #CACACA;
}

.logo-description {
  font-family: 'TTFirsNeue', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #E9E9E9;
}

.quote-author {
  color: #444;
}

.social-description {
  margin-bottom: 9px;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 5fr 3fr;
      grid-template-columns: 4fr 5fr 3fr;
  gap: 50px;
}

@media (max-width: 1124px) {
  .container {
    max-width: 992px;
  }
  .header {
    padding-top: 26px;
    padding-bottom: 27px;
  }
  .header__logo {
    width: 166px;
    height: 27px;
  }
  .header__social {
    display: none;
  }
  .header__container {
    -ms-grid-columns: 166px 1fr 80px;
        grid-template-columns: 166px 1fr 80px;
    -ms-grid-rows: 27px;
        grid-template-rows: 27px;
    gap: 0 50px;
  }
  .nav-list {
    gap: 0;
  }
  .nav-link {
    padding: 0;
  }
  .search-btn {
    display: block;
    -ms-grid-column-align: right;
        justify-self: right;
    width: 25px;
    height: 25px;
    z-index: 5;
  }
  .mc-hero {
    padding-top: 0;
  }
  .mc-hero__content {
    padding-top: 426px;
    padding-bottom: 31px;
    padding-left: 29px;
    background-image: url(../img/foto1_1024.jpg);
  }
  .mc-hero__description {
    margin-bottom: 8px;
  }
  .mc-hero__heading, .mc-hero__date {
    font-size: 34px;
    line-height: 34px;
  }
  .mc-hero__date {
    margin-bottom: 21px;
  }
  .mc-works {
    -ms-grid-rows: 332px 186px;
        grid-template-rows: 332px 186px;
  }
  .about {
    padding-bottom: 61px;
  }
  .subs-to-newsletter__img {
    height: 62%;
  }
  .subs-form {
        grid-template-areas: "header header" "input input" "btn btn";
    -ms-grid-columns: 6fr;
        grid-template-columns: 6fr;
    -ms-grid-rows: 22px 50px 50px;
        grid-template-rows: 22px 50px 50px;
    gap: 19px 0;
  }
  .subs-form__input {
    width: 74%;
  }
  .projects-grid {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    grid-auto-flow: dense;
    gap: 24px 30px;
  }
  .project-small {
    height: 285px;
  }
  .project-small img {
    height: 65%;
  }
  .project-small-big {
    grid-column: span 4;
  }
  .project-big {
    height: 307px;
    max-height: 307px;
    grid-column: span 5;
  }
  .project-last {
    -webkit-box-ordinal-group: 101;
        -ms-flex-order: 100;
            order: 100;
  }
  .project-medium {
    grid-column: span 3;
    height: 307px;
    max-height: 307px;
  }
  .project-medium img {
    height: 60.5%;
  }
  .project-content-small__description {
    height: 44px;
    -webkit-line-clamp: 2;
    /* количество строк */
  }
  .project-content-big {
    top: 30px;
    width: 49.5%;
  }
  .project-content-big__btn {
    bottom: 35px;
  }
  .contacts {
    padding-bottom: 67px;
  }
  .contacts__container {
    -ms-grid-columns: 7.6fr 4.4fr;
        grid-template-columns: 7.6fr 4.4fr;
  }
  .address {
    padding-top: 24px;
    padding-left: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    top: 66%;
    width: 100%;
    -webkit-transform: translateY(90%);
            transform: translateY(90%);
  }
  .address-info {
    width: 53%;
    height: auto;
  }
  .address-info__addr {
    margin-right: 10px;
    display: inline;
  }
  .address-info__phone {
    background-image: url(../img/orangePhone.svg);
    color: #FF6E30;
  }
  .footer__container {
    -ms-grid-columns: 4fr 5.5fr 2.5fr;
        grid-template-columns: 4fr 5.5fr 2.5fr;
    gap: 12px;
  }
  .footer__left-content {
    padding-top: 7px;
  }
  .footer__center-content {
    padding-left: 11%;
  }
  .footer__logo {
    padding-top: 0;
    width: 166px;
    height: 27px;
  }
}

@media (max-width: 850px) {
  .container {
    max-width: 744px;
  }
  .header {
    position: relative;
  }
  .nav-wrapper {
    padding-top: 11px;
    padding-bottom: 12px;
    display: block;
    background: #4A4A4A;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .nav-list {
    gap: 30px;
  }
  .master-classes {
    padding-top: 81px;
  }
  .header__container {
    -ms-grid-columns: 6fr 6fr;
        grid-template-columns: 6fr 6fr;
  }
  .mc-works {
    -ms-grid-rows: 228px 133px;
        grid-template-rows: 228px 133px;
  }
  .mc-works__heading {
    margin-bottom: 17px;
    font-size: 22px;
  }
  .mc-hero {
    padding-top: 0;
  }
  .mc-hero__content {
    padding-top: 223px;
    background-image: url(../img/foto1_768.jpg);
  }
  .mc-hero__description {
    margin-bottom: 15px;
  }
  .mc-hero__heading, .mc-hero__date {
    line-height: 90%;
  }
  .mc-hero__date {
    margin-bottom: 24px;
  }
  .about {
    padding-bottom: 63px;
  }
  .subs-to-newsletter__img {
    height: 75%;
  }
  .subs-form__input {
    width: 100%;
  }
  .projects-grid {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    gap: 30px;
  }
  .project-small-big {
    grid-column: span 2;
  }
  .project-big {
    grid-column: span 6;
    height: 300px;
    max-height: 300px;
  }
  .project-small {
    height: 295px;
  }
  .project-small img {
    height: 62.5%;
  }
  .project-medium {
    height: 300px;
  }
  .project-medium img {
    height: 61.5%;
  }
  .project-content-small__description {
    height: 66px;
    -webkit-line-clamp: 3;
    /* количество строк */
  }
  .project-content-big {
    width: 41%;
  }
  .project-content-big__btn {
    bottom: 30px;
  }
  .contacts__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
        grid-template-areas: "heading" "map" "form";
    -ms-grid-rows: 25px 459px;
        grid-template-rows: 25px 459px;
    gap: 25px 0;
  }
  .address-info {
    width: 65%;
  }
  .address-info__addr {
    display: block;
  }
  .back-call-form {
    width: 65%;
  }
  .back-call-form__btn {
    width: 27%;
  }
  .footer__container {
    -ms-grid-columns: 6fr 6fr;
        grid-template-columns: 6fr 6fr;
  }
  .footer__center-content {
    display: none;
  }
}

@media (max-width: 850px) and (max-width: 670px) {
  .nav-list {
    gap: 0;
  }
  .subs-form {
    -ms-grid-rows: auto 50px 50px;
        grid-template-rows: auto 50px 50px;
  }
  .address {
    top: 55%;
  }
}

@media (max-width: 850px) and (max-width: 550px) {
  .nav-wrapper {
    padding-left: 15px;
  }
  .burger {
    display: inline-block;
    width: 20px;
    height: 18px;
  }
  .nav-list {
    padding-top: 10px;
    padding-left: 15px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    left: 0;
    top: 0;
    width: 100%;
    height: 93vh;
    border-top: 1px solid #808080;
    font-size: 16px;
    background-color: #202020;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
    overflow-y: scroll;
    z-index: 5;
  }
  .nav-list__item {
    margin-bottom: 25px;
  }
  .nav-list__item:first-child {
    margin-bottom: 15px;
    display: block;
    width: 18px;
    height: 18px;
  }
  .nav-list__item:last-child {
    display: block;
    position: absolute;
    left: 15px;
    bottom: 30px;
  }
  .nav-list__close {
    width: 18px;
    height: 18px;
  }
  .is-active {
    -webkit-transform: none;
            transform: none;
  }
  .search-btn {
    z-index: 0;
  }
  .search-form {
    padding: 0 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .search-form__input {
    width: 90%;
    font-size: 14px;
  }
  .search-form__close {
    width: 18px;
    height: 18px;
  }
  .search-form__close circle {
    fill: #C4C4C4;
  }
  .master-classes {
    padding-top: 74px;
    padding-bottom: 50px;
  }
  .master-classes__container {
    -ms-grid-columns: 6fr;
        grid-template-columns: 6fr;
    gap: 34px;
  }
  .logo-description {
    font-size: 10px;
    line-height: 13px;
  }
  .mc-works__work {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .about {
    padding-bottom: 59px;
  }
  .about__container {
    -ms-grid-columns: 6fr;
        grid-template-columns: 6fr;
    gap: 0;
  }
  .about__heading {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
  }
  .about__description {
    margin-bottom: 23px;
    font-size: 14px;
    line-height: 25px;
  }
  .subs-to-newsletter__img {
    width: -webkit-fill-available;
    height: 80%;
  }
}

@media (max-width: 850px) and (max-width: 420px) {
  .container {
    max-width: 308px;
  }
  .header {
    padding-top: 25px;
    padding-bottom: 19px;
  }
  .header__logo {
    width: 111px;
    height: 18px;
  }
  .search-btn {
    width: 20px;
    height: 20px;
  }
  .nav-wrapper {
    padding-left: calc(calc(100vw - 278px) / 2);
  }
  .nav-list {
    padding-left: calc(calc(100vw - 278px) / 2);
  }
  .nav-list__item:last-child {
    left: calc(calc(100vw - 278px) / 2);
  }
  .search-form {
    padding: 0 calc(calc(100vw - 278px) / 2);
  }
  .mc-hero__content {
    padding-top: 234px;
    background-image: url(../img/foto1_320.jpg);
  }
  .mc-hero__content::after {
    content: attr(data-text);
    display: block;
    padding: 4px 7px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #333;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  .mc-hero__description {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
  }
  .mc-hero__heading, .mc-hero__date {
    padding-right: 20%;
    font-size: 24px;
    line-height: 110%;
  }
  .mc-hero__date {
    margin-bottom: 14px;
  }
  .btn {
    padding: 10px 20px;
    font-size: 14px;
  }
  .section-heading {
    font-size: 18px;
  }
  .mc-works {
    -ms-grid-rows: 186px 105px;
        grid-template-rows: 186px 105px;
  }
  .mc-works__heading {
    margin-bottom: 17px;
    line-height: 104%;
  }
  .input-field {
    height: 40px;
    font-size: 14px;
  }
  .subs-to-newsletter__img {
    height: 63%;
  }
  .subs-form {
        grid-template-areas: "header header" "input input" "btn btn";
    -ms-grid-columns: 6fr;
        grid-template-columns: 6fr;
    -ms-grid-rows: 22px 40px 40px;
        grid-template-rows: 22px 40px 40px;
    gap: 19px 0;
  }
  .subs-form__header {
    font-size: 18px;
  }
  .subs-form__btn {
    max-width: 115px;
  }
  .projects {
    padding-top: 50px;
  }
  .projects-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .projects-grid__item::after {
    content: attr(data-text);
    display: block;
    padding: 4px 15px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #333;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  .project-small,
  .project-medium,
  .project-big {
    grid-column: span 1;
  }
  .project-small {
    height: 272px;
  }
  .project-small img {
    height: 68%;
  }
  .project-medium {
    height: 295px;
  }
  .project-medium img {
    height: 62.5%;
  }
  .project-big {
    height: 422px;
    max-height: 422px;
  }
  .project-content-small__description {
    height: 44px;
    -webkit-line-clamp: 2;
    /* количество строк */
  }
  .project-content-big {
    top: 196px;
    width: 70%;
  }
  .project-content-big__time {
    margin-bottom: 6px;
  }
  .project-content-big__header {
    margin-bottom: 9px;
  }
  .project-content-big__description {
    font-size: 14px;
    line-height: 18px;
  }
  .project-content-big__btn {
    padding: 10px 18px;
    font-size: 14px;
    bottom: 30px;
  }
  .contacts {
    padding-top: 20px;
    padding-bottom: 52px;
  }
  .contacts__container {
    max-width: none;
    padding: 0;
  }
  .contacts__heading {
    padding: 0 calc(calc(100vw - 278px) / 2);
  }
  .contacts__left-content {
    padding-top: 0;
  }
  .contacts__right-content {
    padding: 0 calc(calc(100vw - 278px) / 2);
  }
  .address {
    padding-top: 26px;
    padding-left: 21px;
    top: 65.5%;
  }
  .address-info {
    width: 100%;
  }
  .address-info__name {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 22px;
  }
  .address-info__addr {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 18px;
    display: block;
  }
  .address-info__phone {
    font-size: 14px;
    line-height: 18px;
  }
  .back-call-form {
    width: 100%;
  }
  .back-call-form__heading {
    font-size: 18px;
    line-height: 22px;
  }
  .back-call-form__description {
    font-size: 14px;
    line-height: 18px;
  }
  .back-call-form__textarea {
    height: 150px;
  }
  .back-call-form__btn {
    min-width: 115px;
    width: 27%;
  }
  .logo-description {
    text-align: center;
  }
  .footer {
    padding-top: 30px;
    padding-bottom: 0;
  }
  .footer__container {
    -ms-grid-columns: 6fr;
        grid-template-columns: 6fr;
    max-width: none;
    padding: 0;
    gap: 0;
  }
  .footer__right-content {
    margin-bottom: 32px;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .footer__logo {
    margin: 0 auto;
    margin-bottom: 5px;
    width: 111px;
    height: 18px;
  }
  .footer__left-content {
    padding-top: 13px;
    padding-bottom: 15px;
    background-color: #4A4A4A;
  }
}
/*# sourceMappingURL=common.css.map */